@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 5% 15% 1.5% 15%;
}

.name {
  color: #DF723E;
  display: inline-block;
  font-size: 1.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.contact-information, .links-container {  
  display: inline-block;
  font-size: .9em;
  letter-spacing: 1px;
  line-height: .9em;
  text-transform: uppercase;
}

.contact-deets {
  color: #58585B;
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 0.87em;
  text-decoration: none;
  font-weight: 600;
}

.links {
  color: #58585B;
  display: inline-block;
  text-decoration: none;
}
  .links:hover {
    color: #DF723E;
  }

.links img {
  margin-bottom: -.2em;
  padding-right: .3em;
  padding-left: .3em;
}

.primary-titles {
  color: #DF723E;
  display: inline-block;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none;  
}

.location {
  color: #58585B;
  display: inline-block;
  font-size: .9em;
  letter-spacing: 2px;
  margin-bottom: -1%;
  margin-top: 1.1em;
  padding-left: .4em;
  text-transform: uppercase;
}

.category-headers {
  color: #DF723E;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin-top: 3em;
  margin-bottom: .1em;
  text-transform: uppercase;
}

.category-details {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-top: .5em;
  /*margin-top: -1%;*/
}

.category-description-main {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: 1em;
}

.category-description {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em;
}

.category-description-ul {
  color: #808284;
  font-size: .9em;
  line-height: 1.4em;
}

hr.main_divider {
  height: 2px;
  color: #DF723E;
  background-color: #DF723E;
  border: 0px;
}

li {
  margin : 1% 0 0 0;
}

a { text-decoration: none;}

footer {
  margin : 5% 0 0 0;
}

.site-footer-credits {
  color: #808284;
  font-size: .9em;
}